.outer-pane {
   -fx-background-radius: 15;
   -fx-background-color: #0a0d14;
}

.side-bar {
    -fx-background-color: #23252a;
    -fx-background-radius: 15;
}

.top-bar {
    -fx-background-color: #23252a;
    -fx-background-radius: 15;
}

.function-button {
    -fx-background-color: transparent;
}

.user-name {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

.user-expand {
    -fx-background-color: transparent;
}

.search-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
}

.line {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 1px;
}

.date {
    -fx-fill: #ffffff;
}

.app-name {
    -fx-fill: #ffffff;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: #253632;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
}

.menu-item:focused {
    -fx-background-color: #253632;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
}

.menu-text {
    -fx-fill: #ffffff;
}