.outer-pane {
   -fx-background-radius: 20;
}

.function-button {
    -fx-border-radius: 25%;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 25%;
    -fx-background-color: transparent;
}

.function-button:hover {
    -fx-background-color: #e7e7e8;
}

.function-button:focused {
    -fx-background-color: #e7e7e8;
}







.set-background-black {
    -fx-background-color: #000000;
}

.set-border {
    -fx-border-color: #000000;
    -fx-border-width: 1;
}