.outer-pane {
   -fx-background-radius: 10;
}

.text-color {
    -fx-fill: #838494;
}

.font-size-12 {
    -fx-font-size: 12px;
}

.font-size-20 {
    -fx-font-size: 20px;
}

.font-bold {
    -fx-font-weight: bold;
}
