// background
.home-background {
    -fx-background-color: #EFF1F3;
    -fx-background-radius: 20;
}

.hbox-outermost {
    -fx-padding: 0;
    -fx-background-color: #EFF1F3;
    -fx-border-color: transparent;
}

// side bar
.sidebar {
    -fx-background-color: #000000;
    -fx-background-radius: 20;
}

// scroll pane
.scroll-pane {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #EFF1F3;
    -fx-border-color: #EFF1F3;
}

.avatar-background {
    -fx-fill: #000000;
    -fx-stroke-width: 0;
}

// button style
.button-shape {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.button-color-1 {
    -fx-background-color: #cdfb47;
}

.button-color-2 {
    -fx-background-color: transparent;
}