.login-background {
    -fx-background-color: #2a2739;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.exit-button {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: transparent;
    -fx-background-radius: 10;
}

.login-button {
    -fx-background-color: #6f55b5;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "roboto-bold.ttf";
}

.exit-label {
    -fx-text-fill: #FFFFFF;
}

.login-text {
    -fx-fill: #FFFFFF;
    -fx-font-family: "roboto-bold.ttf";
}

.question-text {
    -fx-fill: #FFFFFF;
    -fx-font-family: "roboto-light.ttf";
}

.login-text-field {
    -fx-background-color: #3a364d;
    -fx-opacity: 0.4;
    -fx-background-radius: 5;
}

.line {
    -fx-fill: transparent;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1;
}

.create_text {
    -fx-fill: #6f55b5;
    -fx-font-family: "roboto-light.ttf";
}