.delete-button {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
}

.view-button {
    -fx-background-color: #008000;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
}