.back-color {
    -fx-background-color: rgb(229, 229, 234);
}

.button-text {
    -fx-fill: rgb(28, 28, 30);
}

.function-button {
    -fx-background-color: rgb(242, 242, 247);
    -fx-background-radius: 10;
}

.function-button:hover {
    -fx-background-color: rgb(209, 209, 214);
    -fx-background-radius: 10;
}

.function-button:selected {
    -fx-background-color: rgb(209, 209, 214);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(142, 142, 147), 1, 0.5, 0, 0);
    -fx-border-radius: 2px;
}